html,
body{
    height: 100%;
}
.container{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-min{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
}
