@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


.header{
    background-color: #000;
    margin-bottom: 120px;
    height: 100vh;
}

.header__inner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.header__wrapper{
    position: relative;
    height: 100vh;
}

.header__content{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    height: 100vh;
}

.header__top{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 40px;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 10;
}

.sticky{
    background-color: #000;
    height: 80px;
}

.header__top-box{
    display: flex;
    align-items: center;
    height: 50px;
}

.nav{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 20;
}
.pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 273px;
    width: 16px;  
}

.pagination-progress{
    width: 2px;
    min-height: 273px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}
.pagination-progress__item{
    min-height: 30px;
    top: 0;
    left: 0;
    transition: 0.3s;
    width: 2px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
}

.pagination-active__item{
    color: #fff;
    @extend %gotham-400;
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 10px;
}
.pagination-number__item{
    color: #fff;
    opacity: 0.3;
    @extend %gotham-400;
    font-size: 12px;
    line-height: 11px;
    margin-top: 10px;
}

.link{
    min-width: 205px;
    background-color: #BB6BD9;
    @extend %gotham-400;
    font-size: 14px;
    line-height: 13px;
    padding: 10px 40px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 22px;
    transition: all 0.2s;
    border: 2px solid #BB6BD9;
    &:hover{
        border: 2px solid #BB6BD9;
        background-color: transparent;
        color: #BB6BD9;
        border-radius: 22px;
    }
}
.link-top{
    background-color: #BB6BD9;
    @extend %gotham-400;
    font-size: 14px;
    line-height: 13px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 22px;
    padding: 16px 28px;
    border: 2px solid #BB6BD9;
    transition: all 0.2s;
    &:hover{
        border: 2px solid #BB6BD9;
        background-color: transparent;
        color: #BB6BD9;
        border-radius: 22px;
    }
}

.link-open{
    margin-right: 45px;
    @extend %gotham-400;
    font-size: 14px;
    line-height: 13px;
    color: #fff;
    text-transform: uppercase;
    &:hover{
        color: #BB6BD9;
    }
}

.subtitle{
    @extend %gotham-400;
    color: #fff;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 30px;
    span{
        @extend %gotham-700;
    }
}

h1{
    color: #fff;
    @extend %gotham-400;
    font-size: 70px;
    line-height: 95px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    max-width: 765px;
    span{
        @extend %gotham-700;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: #BB6BD9;
            bottom: 16px;
            right: -15px;
        }
    }
}

.intro{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.intro::after{
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.video{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.video__media{
    position: absolute;
    height: auto;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    opacity: 1;
    position: relative;
    width: 200px;
    @extend %gotham-400;
    margin-right: 120px;
}

.img-pause{
    max-width: 110%;
}

.social-link{
    @extend %gotham-400;
    font-size: 12px;
    line-height: 11px;
    color: #fff;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    opacity: 0.5;
    & + .social-link{
        margin-left: 37px;
    }
    &:hover{
        color: #BB6BD9;
    }
}

.social{
    display: flex;
    .logo-link{
        margin-left: 104px;
    }
}

.social-top{
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.footer{
    background: #000;
    padding: 0 45px 0 45px; 
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.footer__wrapper-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.footer__inner{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    height: 80px;
    position: absolute;
    bottom: 0;
    max-width: 1440px;
    width: 100%;
}

.footer-logo-link{
    margin-right: auto;
    margin-left: 150px;
}

.footer__content{
    display: flex;
}

.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    width: 100%;
    margin: auto;
}

h3{
    color: #fff;
    @extend %gotham-400;
    font-size: 36px;
    margin-bottom: 45px;
    text-align: center;
}

.big-link{
    max-width: 350px;
    width: 100%;
    min-height: 56px;
    background-color: #BB6BD9;
    @extend %gotham-400;
    font-size: 14px;
    line-height: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 35px;
    transition: all 0.2s;
    &:hover{
        border: 2px solid #BB6BD9;
        background-color: transparent;
        color: #BB6BD9;
        border-radius: 35px;
    }
}

.app{
    display: flex;
    width: 100%;
    align-items: center;
    &__link + .app__link{
        margin-left: 30px;
    }
}

.app__box{
    display: flex;
}

.social-item{
    display: flex;
}

.social-link__bottom{
    margin-right: 39px;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.6;
    color: #fff;
    margin-left: 20px;
    @extend %gotham-400;
    &::before{
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        width: 16px;
        height: 17px;
        top: 0;
        left: -20px;
    }
    &:hover{
        color: #BB6BD9;
    }
}
.social-link__facebook:hover::before{
    background-image: url('../images/icons/facebook-2.svg');
}
.social-link__facebook::before{
    content: '';
    background-image: url('../images/icons/facebook.svg');
}
.social-link__instagram:hover::before{
    background-image: url('../images/icons/instagram-2.svg');
}
.social-link__instagram::before{
    content: '';
    background-image: url('../images/icons/instagram.svg');
}
.social-link__telegram:hover::before{
    background-image: url('../images/icons/telegram-2.svg');
}
.social-link__telegram::before{
    content: '';
    background-image: url('../images/icons/telegram.svg');
}
.social-link__email:hover::before{
    background-image: url('../images/icons/email-2.svg');
}
.social-link__email::before{
    content: '';
    background-image: url('../images/icons/email.svg');
}

.content-two{
    margin-right: 190px;
    max-width: 576px;
}
.content-three{
    margin-left: 120px;
    max-width: 556px;
}

.content-four{
    margin-right: 97px;
    max-width: 662px;
}
.content-five{
    margin-left: auto;
    max-width: 480px;
}
.content-six{
    margin-right: 29px;
    max-width: 556px;
}
.content-seven{
    margin-left: 340px;
    max-width: 556px;
}
.content-eight{
    max-width: 556px;
    margin-right: 170px;
}
.content-nine{
    max-width: 460px;
    margin-left: 120px;
}

.content-s5{
    max-width: 556px;
    margin-left: 120px;
}
.content-s7{
    max-width: 556px;
    margin-left: 120px;
}
.content-s8{
    max-width: 556px;
    margin-left: 120px;
}

.content-s11{
    max-width: 390px;
    margin-left: 120px;
}

.box{
    max-width: 312px;
    width: 100%;
    display: flex;
}
.box-one{
    max-width: 312px;
    width: 100%;
    margin-left: 195px;
    display: flex;
}

.box-two{
    justify-content: center;
}

.box-three{
    max-width: 500px;
}
.box-four{
    justify-content: center;
}

.box-eight{
    justify-content: center;
}

.box-img{
    max-width: 500px;
    justify-content: center;
}

.box-procent{
    max-width: 480px;
    height: 368px;
    border: 7px solid #363636;
    border-radius: 25px;
}

.procent-item{
    display: flex;
    min-width: 136px;
    height: 120px;
}

.procent{
    color: #fff;
    display: flex;
    min-width: 136px;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    border-right: 1px solid #363636;
    border-bottom: 1px solid #363636;
    @extend %gotham-400;
    font-size: 40px;
    line-height: 38px;
}

.procent-text{
    color: #fff;
    padding: 15px 16px 15px 16px;
    @extend %gotham-400;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 1px solid #363636;
}

.last{
    border-bottom: none;
}

.title{
    color: #fff;
    @extend %gotham-400;
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 34px;
    margin-top: 85px;
    max-width: 595px;
    span{
        @extend %gotham-700;
    }
}

.title-s5{
    margin-top: 0;
}

.text{
    color: #fff;
    @extend %gotham-400;
    opacity: 0.3;
    max-width: 576px;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 45px;
    span{
        @extend %gotham-700;
    }
}
.text-three{
    max-width: 550px;
}
.text-seven{
    max-width: 435px;
}
.text-eight{
    max-width: 435px;
    color: #fff;
    @extend %gotham-400;
    opacity: 0.3;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 45px;
    span{
        @extend %gotham-700;
    }
}

.images{
    position: absolute;
    max-width: 100%;
    height: 462px;
    z-index: -1;
}
.images-bg{
    max-width: 100%;
    z-index: 2;
}

.images-bg-two{
    max-width: 100%;
    z-index: 2;
    height: 450px;
}

.images-box__phone{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    height: 441px;
    top: 0;
    left: 0;
}
.images-box__phone-one{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    height: 441px;
    top: 0;
    left: 0;
}
.images-one{
    height: 432px;
    position: absolute;
    z-index: -1;
}
.images-two{
    position: absolute;
    z-index: -1;
    max-width: 100%;
    top: 2px;
}
.images-box__phone-two{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    height: 441px;
    top: 71px;
    right: 89px;
    z-index: 1;
}

.images-box__phone-three{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    height: 441px;
    top: 0;
    left: 0;
}

.images-three{
    position: absolute;
    max-width: 100%;
    z-index: 1;
    top: 2px;
}
.images-box__phone-four{
    position: relative;
    object-fit: cover;
    min-width: 202px;
    width: 100%;
    height: 441px;
    top: 77px;
    right: -75px;
    z-index: 1;
}
.images-five{
    position: absolute;  
    z-index: 1;
    max-width: 100%;
    height: 462px;
}
.images-box__phone-five{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    height: 441px;
    top: 88px;
    left: -91px;
    z-index: 1;
}
.images-eight{
    position: absolute;
    max-width: 93%;
    z-index: 1;
    object-fit: contain;
    left: 7px;
    top: 20%;
}
.images-box__phone-eight{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    height: 441px;
    top: 74px;
    left: -102px;
    z-index: 1;
}
.images-nine{
    position: absolute;
    z-index: 1;
    object-fit: contain;
    margin-left: 142px;
}
.images-box__phone-nine{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    height: 441px;
    top: -370px;
    left: 59px;
    z-index: 1;
}
.images-small{
    position: absolute;
    height: 462px;
}
.images-slider{
    position: absolute;
    margin-left: 80px;
    z-index: 1;
    object-fit: contain;
}
.images-slider-one{
    position: absolute;
    margin-left: 80px;
    min-width: 204px;
    z-index: 1;
    object-fit: contain;
    height: 432px;
}
.images-slider-two{
    position: absolute;
    z-index: 1;
    object-fit: contain;
    min-width: 204px;
    left: 81px;
    height: 432px;
}
.images-box__phone-slider{
    position: relative;
    object-fit: cover;
    min-width: 214px;
    width: 100%;
    margin: 0 auto;
    height: 423px;
    z-index: 1;
}
.images-bg-slider{
    max-width: 100%;
    z-index: 2;
    margin-left: 81px;
}
.images-bg-nine{
    max-width: 100%;
    z-index: 2;
    margin-left: 141px;
}

.images-bg__slider{
    height: 430px;
    z-index: 2;
    position: absolute;
    min-width: 203px;
    left: 81px;
}

.images-bg__slider-two{
    height: 430px;
    z-index: 2;
    position: absolute;
    min-width: 203px;
    left: 81px;
}

.images-box__desk{
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/phone/safari.png');
    background-size: contain;
    min-width: 500px;
    width: 100%;
    height: 365px;
    position: relative;
    top: 149px;
    right: 134px;
}

.images-desk{
    position: absolute;
    bottom: 28px;
    right: 23px;
    max-width: 452px;
    height: 312px;
    object-fit: contain;
}
.images-box__desk-one{
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/phone/safari.png');
    background-size: contain;
    min-width: 543px;
    width: 100%;
    height: 365px;
    position: relative;
    right: 144px;
    top: 180px;
    z-index: -1;
}
.images-desk__one{
    position: absolute;
    max-width: 454px;
    height: 312px;
    top: 25px;
    left: 25px;
    object-fit: contain;
}
.images-desk__two{
    position: absolute;
    max-width: 454px;
    height: 312px;
    top: 25px;
    left: 25px;
    object-fit: contain;
}

.slick-track{
    width: 500px;
}

.images-box__slider-two{
    position: absolute;
    object-fit: cover;
    min-width: 214px;
    height: 441px;
    right: 150px;
    z-index: 1;
}
.images-box__slider-one{
    position: absolute;
    object-fit: cover;
    min-width: 214px;
    height: 441px;
    z-index: 2;
    top: 56px;
}


.section__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__inner-reverse{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__inner-six{
    display: flex;
    align-items: center;
}
.section-four{
    margin-bottom: 200px;
}
.section-five{
    margin-bottom: 200px;
}

.section-seven{
    margin-bottom: 200px;
}


.slider{
    max-width: 500px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: relative;
    margin-left: 60px;
    margin-top: 30px;
}

.slider__item{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots{
    bottom: -40px !important;
    li{
        font-size: 0;
        border: 1px solid #363636;
        border-radius: 50%;
        padding: 0;
        min-width: 10px;
        height: 10px;
        background-color: #000;
        margin-right: 22px;
        margin-top: 40px;
        cursor: pointer;
        position: relative;
    }
    button{
        font-size: 0;
        display: none;
        padding: 0;
    }
    .slick-active::before{
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #363636;
        top: 1px;
        left: 1px;
        border-radius: 50%;
    }
}

.slick-prev{
    top: 50%;
    left: 0;
    font-size: 0;
    height: 29px;
    width: 29px;
    background-image: url('../images/icons/arrow-left.svg');
    background-repeat: no-repeat;
    &:hover{
        transform: rotate(180deg);
    }
}
.slick-next{
    top: 50%;
    font-size: 0;
    right: 0;
    height: 29px;
    width: 29px;
    background-image: url('../images/icons/arrow-right.svg');
    background-repeat: no-repeat;
}

.slick-prev,
.slick-next{
    cursor: pointer;
    padding: 0;
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 5;
    outline: none;
    &:hover{  
        background-image: url('../images/icons/arrow-light.svg');
    }
    
}

.slick-dots{
    position: absolute;
    bottom: 0;
    left: 53%;
    transform: translate(-50%);
    display: flex;
}

.modal-page{
    max-width: 462px;
    width: 100%;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
}

.label-email{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/email-input.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        left: 15px;
        top: 24px;
    }
}

.input-email{
    height: 64px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #3F3D4A;
    border-radius: 8px 8px 0 0;
    background: #373542;
    @extend %gotham-400;
    padding: 20px 60px 20px 50px;
    color: #8E94A5;
    outline: none;
    &::placeholder{
        color: #8E94A5;
    }
}

.label-name{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/user.svg');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        left: 15px;
        top: 24px;
    }
}

.input-name{
    height: 64px;
    width: 100%;
    border: none;
    background: #373542;
    @extend %gotham-400;
    padding: 20px 60px 20px 50px;
    color: #8E94A5;
    outline: none;
    border-radius: none;
    &::placeholder{
        color: #8E94A5;
    }
}

.label-password{
    position: relative;
    margin-bottom: 25px;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/lock.svg');
        background-repeat: no-repeat;
        width: 14px;
        height: 18px;
        left: 15px;
        top: 22px;
    }
}

.input-password{
    height: 64px;
    width: 100%;
    border: none;
    border-top: 1px solid #3F3D4A;
    background: #373542;
    @extend %gotham-400;
    padding: 20px 60px 20px 50px;
    border-radius: 0 0 8px 8px;
    color: #8E94A5;
    outline: none;
    &::placeholder{
        color: #8E94A5;
    }
}

.password-control {
	position: absolute;
    top: 29px;
    right: 40px;
	display: inline-block;
	width: 16px;
	height: 11px;
    background: url('../images/icons/view.svg');
    background-repeat: no-repeat;
}
.password-control.view {
    background: url('../images/icons/view.svg');
    background-repeat: no-repeat;
}

.clearbtn{
    position: absolute;
    right: 16px;
    top: 26px;
    height: 16px;
    width: 16px;
    border: none;
    background-color: #373542;
    display: inline-block;
    background-image: url('../images/icons/del.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}
.clearBtn{
    position: absolute;
    right: 16px;
    top: 26px;
    height: 16px;
    width: 16px;
    border: none;
    background-color: #373542;
    display: inline-block;
    background-image: url('../images/icons/del.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal-item{
    color: #8E94A5;
    margin-bottom: 25px;
    margin-left: 10px;
    @extend %gotham-400;
    position: relative;
}

.input-checkbox{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.label-checkbox{
    padding-left: 25px;
    cursor: pointer;
}

.label-checkbox::before{
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border: 2px solid #8E94A5;
    border-radius: 4px;
    background-color: #000;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}
.label-checkbox::after{
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('../images/icons/click.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 4px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s linear;
}

.input-checkbox:checked + .label-checkbox::after{
    opacity: 1;
}

.modal-link{
    color: #BB6BD9;
    @extend %gotham-400;
    text-decoration: underline;
}

.modal__btn{
    background-color: #BB6BD9;
    height: 56px;
    border: 1px solid #BB6BD9;
    border-radius: 35px;
    @extend %gotham-400;
    color: #fff;
    cursor: pointer;
    &:hover{
        border: 2px solid #BB6BD9;
        background-color: transparent;
        color: #BB6BD9;
        border-radius: 35px;
    }
}





@import 'media';
